@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,900&family=Source+Code+Pro:wght@500;700&family=Yellowtail&display=swap");
body {
  background-color: var(--primary-bg-color);
  background-image: radial-gradient(var(--dots-color) 5%, transparent 5%);
  background-size: 60px 60px;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
}
