#skills {
  font-family: "Montserrat";
  display: flex;
  .illustration {
    .list-skill {
      display: flex;
      padding-left: 8px;
      a {
        display: inline-block;
        height: 56px;
        margin: 20px;
      }
      .hover-card {
        width: 330px;
        span {
          color: grey;
          &::before,
          &::after {
            content: "/";
          }
        }
        p {
          white-space: wrap;
          text-transform: none;
          font-family: "Poppins";
          font-weight: normal;
          white-space: normal;
        }
      }
    }
  }
}

@media only screen and (max-width: 1279px) {
  #skills {
    .list-skill {
      justify-content: center;
    }
    .hover-parent {
      position: static;
    }
  }
}
@media only screen and (max-width: 767px) {
  #skills {
    align-items: center;
    flex-direction: column;
    .illustration {
      .list-skill {
        align-items: center;
        flex-wrap: wrap;
        position: relative;
      }
    }
  }
}
