#welcome {
  font-family: "Poppins";
  padding: 10vw;
  min-height: 100vh;
  & > div {
    width: 100%;
  }
  .contacts-contacts {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
  }
  #one-liner {
    font-size: 48px;
    @media only screen and (max-width: 767px) {
      & {
        font-size: 24px;
      }
    }
  }
}
