.contacts-contacts a {
  font-size: 30px;
  margin-right: 0.5em;
  transition: ease-in-out 0.21s all;

  @media (hover: hover) {
    &:not(:hover) {
      color: darkgray !important;
    }
  }
  @media only screen and (max-width: 767px) {
    & {
      font-size: 24px;
    }
  }
}
