header {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-bg-color);
  color: var(--primary-fg-color);
  font-family: "Source code pro";

  z-index: 9;

  padding: 1em;
  width: 100vw;

  text-transform: uppercase;
  // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  font-weight: 600;

  display: flex;
  justify-content: space-between;

  span.page-nav a {
    display: inline-block;
    padding: 0em 1em;
  }

  .link,
  a {
    color: var(--secondary-fg-color);
  }

  .link {
    margin: auto 0;
  }
}
