header {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-bg-color);
  color: var(--primary-fg-color);

  font-family: "Source Code Pro", monospace;

  z-index: 9;

  padding: 1em;
  width: 100vw;

  text-transform: uppercase;
  // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  font-weight: 600;

  display: flex;
  justify-content: space-between;

  span.page-nav {
    @media screen and (max-width: 767px) {
      position: fixed;
      top: 50%;
      right: 0;
      transform: translateX(calc(50% - 1em)) rotate(90deg);
    }
    a {
      display: inline-block;
      &:not(:last-child) {
        padding-right: 3em;
      }
    }
  }

  .link,
  a {
    color: var(--secondary-fg-color);
  }

  .link {
    margin: auto 0;
  }
}
