.hover-parent {
  color: var(--hoverable-fg-color);
  position: relative;
  cursor: pointer;
  display: inline-block;

  .hover-card {
    font-size: 1rem;
    font-weight: normal;

    z-index: 7;

    pointer-events: none;
    user-select: none;

    color: var(--primary-fg-color);
    background-color: var(--primary-bg-color);

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    padding: 1em;
    border-radius: 3px;

    white-space: nowrap;
    max-width: 93vw;
    width: 330px;

    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 60pt);
    opacity: 0;

    transition: all 0.25s;
  }

  &:hover > .hover-card {
    pointer-events: all;
    transform: translate(-50%, 0);
    opacity: 1;
  }
}
