.hoverable-text {
  color: var(--hoverable-fg-color);
  position: relative;
  cursor: pointer;

  & > .hoverable-description {
    font-size: 1rem;
    font-weight: 400;

    z-index: 9;

    pointer-events: none;
    user-select: none;

    color: var(--primary-fg-color);
    background-color: var(--primary-bg-color);

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    padding: 1em;
    border-radius: 3px;

    white-space: nowrap;
    max-width: 330px;

    position: absolute;
    left: 50%;
    bottom: -3em;
    transform: translate(-50%, 5rem);
    opacity: 0;

    transition: all 0.25s;
  }

  &:hover > .hoverable-description {
    pointer-events: all;
    transform: translate(-50%, 0);
    opacity: 1;
  }
}
