:root {
  --primary-fg-color: black;
  --primary-bg-color: white;
  --hoverable-fg-color: #329f5b;
  --link-color: #2589bd;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  text-decoration: none;
  &:hover {
    font-weight: bold;
  }
}

main {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  height: 100vh;
}

.page {
  min-height: 100vh;
  padding: 10vh 10vw;
  scroll-snap-align: start;
}
