:root {
  --primary-fg-color: black;
  --primary-bg-color: white;
  --hoverable-fg-color: #329f5b;
  --link-color: #2589bd;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  text-decoration: none;
  &:hover {
    font-weight: bold;
  }
}

html {
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  overflow-y: auto;
  width: 100%;
}

.page {
  padding: 10vh 10vw;
  min-height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    flex-wrap: nowrap;
    display: flex;
    flex: 100%;
    max-width: 1000px;
    .description {
      h2 {
        font-size: 27pt;
        font-family: "Yellowtail";
      }
      p {
        margin-top: 0.75em;
        text-align: justify;
      }
      * {
        font-family: "Poppins";
        font-size: 14pt;
      }
    }
    .illustration {
      min-width: 500px;
    }
  }
}

@media only screen and (max-width: 1279px) {
  .page {
    .content {
      flex-direction: column;
      & > *:not(:last-child) {
        margin-bottom: 3em;
      }
      .description {
        max-width: unset;
        * {
          font-size: 12pt;
        }
      }
      .illustration {
        min-width: unset;
      }
    }
  }
}
