#sidenav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0.5em;
  font-size: 16pt;

  background-color: var(--primary-fg-color);
  color: var(--primary-bg-color);

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .position * {
    padding: 2px;
  }
}
